# ===============================
# Workspace (KHÔNG BAO GIỜ COMMIT)
# ===============================
.metadata/

# ===============================
# Build output
# ===============================
Debug/
Release/
Debug_FLASH/
Release_FLASH/

*.elf
*.map
*.hex
*.bin
*.siz
*.o
*.d
*.lst
*.args

# ===============================
# OS / Editor
# ===============================
.vscode/
.DS_Store
Thumbs.db